<div class="logo logo1">
  <%= image_tag "logo" %>
</div>

<div class="modalWrap"></div>
<div class="row">
  <div class="modal col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1">
    <form action="/groups" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <div class="form-group">
        <label for="gname">Enter the group name</label>
        <input type="text" class="form-control" id="gname" placeholder="123 Sesame Street" name="gname">
      </div>
      <input type="submit" class="btn btn-info btn-sm" value="Save">
    </form>
  </div>
</div>

<div class="main">
	<div class="containerGrp">
		<h2 style="text-align: center;"><%= @user.first_name %>'s List of Groups</h2>
		<% if @groups %>
		<table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Total members</th>
      </tr>
			<% @groups.each do |group| %>
			<tr>
        <td><a href="/groups/<%= group.id %>"><%= group.name %></a></td>
        <td><%= UserGroup.where(group: group).count %></td>
      </tr>
			<% end %>
		</table>
		<% end %>

		<button class="btn btn-primary btn-sm newgroup">Start a new group</button>
	</div>
</div>