<div id="main">
	<div id="containerShowUser">
		<h2>Edit your profile:</h2>
		<form action="/users/" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
			<input name="_method" type="hidden" value="PATCH"/>
			
			<div class="form-group">
				<label for="first_name">First Name</label>
				<input name="first_name" class="form-control" type="text" value="<%=current_user.first_name %>">
			</div>

			<div class="form-group">
				<label for="last_name">Last Name</label>
				<input name="last_name" class="form-control" type="text" value="<%=current_user.last_name %>">
			</div>

			<div class="form-group">
				<label for="username">User Name</label>
				<input name="username" class="form-control" type="text" value="<%=current_user.username %>">
			</div>
			
			<div class="form-group">
				<label for="email" value="email">Email</label>
				<input name="email" class="form-control" type="email" value="<%=current_user.email %>">
			</div>

			<div class="form-group">
				<label for="profilepic" value="Profile picture">Profile picture:</label>
				<input name="profilepic" type="file">
			</div>
			
			<button type="submit" class="btn btn-default" value="Update">Update</button>
		</form>
		<div>
			<% if flash[:message] %>
				<% flash[:message].each do |message| %>
					<%=message%>
				<% end %>
			<% end %>
		</div>
	</div>
</div>