<div class="modalWrap2"></div>
  <div class="modal2">
    <form action="" class="addActivity" method="post">
      <div class="row">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="form-group col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-10 col-sm-offset-1">
          <label for="chooseGroup">Choose a group</label>
          <select name="cGroup" id="chooseGroup" class="form-control">
            <option value="Select" disabled selected="selected">Select</option>
            <% @groups.each do |g| %>
            <option value="<%= g.id %>"><%= g.name %></option>
            <% end -%>
          </select>
        </div>
        <div class="form-group col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" type="text" name="name" id="name">
          </div>
          <div class="form-group">
            <label for="amount">Amount:</label>
            <input class="form-control" type="text" name="amount" id="amount">
          </div>
          <% @group.users.each do |user| %>
            <div class="form-group">
              <label for="u<%= user.id %>"><%= user.first_name %> paid:</label>
              <input class="form-control" type="text" name="u<%= user.id %>" id="u<%= user.id %>">
            </div>
          <% end %>
          <div class="form-group">
            <label for="split">Split Option:</label>
            <select name="split">
              <option selected disabled>Select Option</option>
              <option value="equal">Equally</option>
              <option value="percent" id="percent">By Percentage</option>
              <option value="custom" id="custom">By Custom Amount</option>
            </select>
          </div>
          <div id="percent_block">
          <% @group.users.each do |user| %>
            <div class="form-group">
              <label for="u<%= user.id %>"><%= user.first_name %>'s Percentage:</label>
              <input class="form-control" type="text" name="u<%= user.id %>%" id="u<%= user.id %>">
            </div>
          <% end %>
          </div>
          <div id="amount_block">
          <% @group.users.each do |user| %>
            <div class="form-group">
              <label for="u<%= user.id %>"><%= user.first_name %>'s Custom Amount:</label>
              <input class="form-control" type="text" name="u<%= user.id %>ca" id="u<%= user.id %>">
            </div>
          <% end %>
        </div>
      </div>
      <input type="submit" class="btn btn-info btn-sm" value="Add">
    </form>
  </div>
</div>