<div class="main">
		<div id="header">
			<h2><b>Name: </b> <%=@user.first_name %> <%=@user.last_name %></h2>
			<h3><b>Username: </b> <%=@user.username %></h3>
			<h3><b>Email: </b> <%=@user.email %></h3>
		</div>
		<div id="container">
		</div>
		<div id="messages">
			<% flash[:message].each do |message| %>
				<%=message %><br>
			<% end %>
		</div>
</div>









