<div id="main">
	<div id="containerNewExp">
		<h1>New Expense</h1>
		<% if flash[:errors] %>
			<% flash[:errors].each do |error| %>
				<p style="text-align: center;"><%= error %></p>
			<% end %>
		<% end %>
		<form action="/expenses/<%= @group.id %>" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<div class="form-group">
				<label for="name">Name:</label>
				<input class="form-control" type="text" name="name" id="name">
			</div>
			<div class="form-group">
				<label for="amount">Amount:</label>
				<input class="form-control" type="text" name="amount" id="amount">
			</div>
			<% @group.users.each do |user| %>
				<div class="form-group">
					<label for="u<%= user.id %>"><%= user.first_name %> paid:</label>
					<input class="form-control" type="text" name="u<%= user.id %>" id="u<%= user.id %>">
				</div>
			<% end %>
			<div class="form-group">
				<label for="split">Split Option:</label>
				<select name="split">
					<option selected disabled>Select Option</option>
					<option value="equal">Equally</option>
					<option value="percent" id="percent">By Percentage</option>
					<option value="custom" id="custom">By Custom Amount</option>
				</select>
			</div>
			<div id="percent_block">
			<% @group.users.each do |user| %>
				<div class="form-group">
					<label for="u<%= user.id %>"><%= user.first_name %>'s Percentage:</label>
					<input class="form-control" type="text" name="u<%= user.id %>%" id="u<%= user.id %>">
				</div>
			<% end %>
			</div>
			<div id="amount_block">
			<% @group.users.each do |user| %>
				<div class="form-group">
					<label for="u<%= user.id %>"><%= user.first_name %>'s Custom Amount:</label>
					<input class="form-control" type="text" name="u<%= user.id %>ca" id="u<%= user.id %>">
				</div>
			<% end %>
			</div>
			<button type="submit" class="btn btn-default" value="Create">Create</button>
		</form>
	</div>
</div>