<div id="main">
	<div id="containerExp">
		<a href="/groups/<%= @group.id %>">Back</a>
		<p><%= @exp.name %>: $<%= @exp.amount %></p>
		<% @output.each do |o| %>
		<p>User <%= o[:owes].first_name %> <%= o[:owes].last_name %> owes user <%= o[:owed].first_name %> <%= o[:owed].last_name %> $<%= o[:amt] %></p>
		<% end -%>
	</div>
</div>