<div class="logo logo1">
  <%= image_tag "logo" %>
</div>
<div id="main">
	<div id="containerExp" class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-10 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-1">
			<a href="/groups/<%= @exp.group.id %>" id="linkRight">Back</a><br>
			<h3 id="expSum"><%= @exp.name %>: $<%= '%.2f' % @exp.amount %></h3><br>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Paid Amount</th>
						<th>Splitted Amount</th>
					</tr>
				</thead>
				<tbody>
				<% @record.each do |r| %>
					<tr>
						<th>
							<p><%= r.user.first_name %> <%= r.user.last_name %></p>
						</th>
						<th>$<%= '%.2f' % r.paid %></th>
						<th>$<%= '%.2f' % r.amount%></th>
					</tr>
				<% end %>
				</tbody>
			</table>
			<div class="log">
			<% @output.each do |o| %>
				<p><%= o[:owes].first_name %> <%= o[:owes].last_name %> owes <%= o[:owed].first_name %> <%= o[:owed].last_name %> $<%= '%.2f' % o[:amt] %></p>
			<% end %>
			</div>
		</div>
	</div>
</div>