<div id="main">
	<div id="containerExp">
		<p><b><%= @exp.name %>: </b>$<%= @exp.amount %></p>
		<% @record.each do |r| %>
			<p><%= r.user.first_name %> <%= r.user.last_name %> paid <%= r.paid %></p>
		<% end %>
		<% @output.each do |o| %>
			<p><%= o[:owes].first_name %> <%= o[:owes].last_name %> owes <%= o[:owed].first_name %> <%= o[:owed].last_name %> $<%= o[:amt] %></p>
		<% end %>
	</div>
</div>