<!DOCTYPE html>
<html>
  <head>
    <title>Split</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= javascript_include_tag 'jquery', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jqueryui', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'jqueryui', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-no-turbolink'=> true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
  <% if flash[:error] %>
  <div class="showErr">
    <% flash[:error].each do |msg| %>
    <p class="errMsg"><% msg %></p>
    <% end -%>
  </div>
  <% end -%>
    <%= yield %>
    <p class="credits" style="font-family: monospace;">Created and Developed by: Jae Kim, Juemin Wei, Brad Wagner</p>
  </body>
</html>
